@model VacanteAPP.Models.Category
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name" class="form-label mt-4">Nume categorie</label>
        <input asp-for="Name" type="text" class="form-control" id="categoryName" placeholder="Introduceți numele categoriei">
        <span asp-validation-for="Name" class="text-danger"></span>
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DisplayOrder" class="form-label mt-4"></label>
        <select asp-for="DisplayOrder" class="form-select" id="displayOrder">
            @for (int i = 1; i < 50; i++)
            {
                <option>@i</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Trimite</button>
    <button type="button" class="btn btn-light mt-4"><a class="text-dark" asp-controller="Category" asp-action="Index">Inapoi la categorii</a></button>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}