

<partial name="_Notificare" />



<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Lista comenzi</h2>
        </div>

    </div>

    <table id="tableData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID Comanda</th>
                <th>Total plata</th>
                <th>Status comanda</th>
                <th>Status plata</th>
                <th>AWB</th>
                <th>Curier Firma</th>
                <th>Telefon</th>
                <th>Adresa</th>
                <th>Oras</th>
                <th>Tara</th>
                <th>Cod Postal</th>
                <th>Persoana contact</th>
                <th>Actiuni</th>




        </thead>

    </table>
</div>
@section Scripts {
    <script src="~/js/order.js"></script>
}
